<div ng-controller="TrialDriverS1Ctrl">

    <table class="zebra">
        <input id="refresh"  type="checkbox" ng-model="data.refresh"/>
        <thead>
        <tr>
            <th>Miejsce</th>
            <th>Numer startowy</th>
            <th>Kierowca</th>
            <th>Suma</th>
            <th>Najlepszy czas</th>
            <th>Przejazdów</th>
            <th>PS1</th>
            <th>PS2</th>
            <th>PS3</th>
            <th>PS4</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="result in results">
            <td>{{$index+1}}</td>
            <td>{{result.start_number}}</td>
            <td>{{result.last_name}} {{result.first_name}}</td>
            <td>{{result.time_sum|toHumanReadableFormat}}</td>
            <td>{{result.time_n|toHumanReadableFormat}}</td>
            <td>{{result.laps}}</td>
            <td>{{result.lap_0|toHumanReadableFormat}}</td>
            <td>{{result.lap_1|toHumanReadableFormat}}</td>
            <td>{{result.lap_2|toHumanReadableFormat}}</td>
            <td>{{result.lap_3|toHumanReadableFormat}}</td>
        </tr>
        </tbody>
    </table>

</div>